---
layout: default
active: gallery
title: "Our Gallery"
description: "A showcase of our more recent projects, home renovation, construction and interior design."
---

<section>
  <div class='default-row gallery-row'>
    <div class='container'>
      <div class='row'>
        <div class='col-xs-12'>
          <h1 class='title'>
            {{ page.title }}
          </h1>
        </div>
      </div>
    </div>
  </div>

  <div class='default-row stripe-row'>
    <div class='container'>
      <div class='row'>
        <ol class="breadcrumb">
          <li><a href="{{site.baseurl}}/">Home</a></li>
          <li class="active">{{page.title}}</li>
        </ol>
      </div>
      <div class='row'>
        <div id='masonry'>

          {% for i in (1..81) %}
          <div class='col-md-4 col-sm-6 col-xs-12 grid-item'>
            <div class='gallery-image'>
              <a href='images/gallery/{{ i }}-lg.jpg' data-lightbox='{{ i }}'>
                <img src='images/gallery/{{ i }}.jpg' alt='{{ i }}' class='img-responsive' />
              </a>
            </div>
          </div>
          {% endfor %}

        </div>
        <div class='clearfix'></div>
      </div>
    </div>
  </div>
</section>
{% include quote.html %}