<footer class='disclaimer-row'>
	<div class='container'>
        <div class='row'>
            <div class='col-md-3 col-sm-6 col-xs-12'>
                <h4>
                    <strong>
                        Get in touch
                    </strong>                    
                </h4>
                
				<ul class='list-unstyled'>
                    <li>
                        <a href="tel:{{site.rawphone}}">
                            <i class="fa fa-phone" aria-hidden="true"></i> General Inquiry: {{site.phone}}
                        </a>
                    </li>
                    <li>
                        <a href="tel:{{site.hrrawphone}}">
                            <i class="fa fa-phone" aria-hidden="true"></i> HR: {{site.hrphone}}
                        </a>
                    </li>
                    <li>
                        <a href='mailto:{{site.email}}'>
                            <i class="fa fa-envelope-o" aria-hidden="true"></i> {{site.email}}
                        </a>				
                    </li>
                    <li>
                        <a href='mailto:{{site.hremail}}'>
                            <i class="fa fa-envelope-o" aria-hidden="true"></i> {{site.hremail}}
                        </a>				
                    </li>
                    <li>
						<a href="{{ site.facebook_address }}" target="_blank">
							<i class="fa fa-facebook" aria-hidden="true"></i> Facebook
						</a>
					</li>
					<li>
						<a href="{{ site.instagram_address }}" target="_blank">
							<i class="fa fa-instagram" aria-hidden="true"></i> Instagram
						</a>
					</li>
                    <!--
					<li>
						<a href="{{ site.google_address }}" target="_blank">
							<i class="fa fa-google-plus" aria-hidden="true"></i>
						</a>
					</li>
                    -->
                </ul>   
            </div>
            <div class='col-md-3 col-sm-6 col-xs-12'>
                <h4>
                    <strong>
                        Services
                    </strong>                    
                </h4>
                <ul class='list-unstyled'>
                    {% for service in site.services %}                    
                        <li>
                            <a href='{{ service.url }}'>{{service.title}}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class='col-md-3 col-sm-6 col-xs-12'>
                <h4>
                    <strong>
                        Our Work
                    </strong>                    
                </h4>
                <ul class='list-unstyled'>
                    {% assign works = site.categories.work | sort: 'sequence' %}
                    {% for work in works %}
                        <li>
                            <a href='{{work.url}}'>{{work.title}}</a>                            
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class='col-md-3 col-sm-6 col-xs-12'>
                <h4>
                    <strong>
                        Company
                    </strong>                    
                </h4>                
                <ul class='list-unstyled'>
                    <li>
                        <a href='{{site.baseurl}}/gallery.html'>Gallery</a>                        
                    </li>
                    <li>
                        <a href='{{site.baseurl}}/clients.html'>Clients</a>                        
                    </li>
                    <li>
                        <a href='{{site.baseurl}}/about.html'>About</a>
                    </li>
                    <li>
                        <a href='{{site.baseurl}}/contact.html'>Contact</a>
                    </li>
                    <li>
                        <a href='{{site.baseurl}}/terms-and-conditions.html'>Terms of use</a>
                    </li>
                    <li>
                        <a href='{{site.baseurl}}/privacy-policy.html'>Privacy policy</a>
                    </li>
                </ul>
            </div>            
        </div>
        <div class='row'>            
            <div class='col-xs-12 copyright'>
                © 2024 {{site.name}}. All Rights Reserved                                    
            </div>
        </div>		
	</div>
</footer>