<header itemscope itemtype="http://schema.org/LocalBusiness">
<div class='header-row'>
	<div class='container'>
		<div class='row'>
			<div class='col-lg-3 col-md-3 col-sm-12 col-xs-12'>
				<ul class='header-social-media'>
					<li>
						<a href="{{ site.facebook_address }}" target="_blank" aria-label="Plick Candoo Facebook Page">
							<i class="fa fa-facebook" aria-hidden="true"></i>							
						</a>
					</li>
					<li>
						<a href="{{ site.instagram_address }}" target="_blank" aria-label="Plick Candoo Instagram Page">
							<i class="fa fa-instagram" aria-hidden="true"></i>							
						</a>
					</li>
                    <!--
					<li>
						<a href="{{ site.google_address }}" target="_blank">
							<i class="fa fa-google-plus" aria-hidden="true"></i>					
						</a>
					</li>
                    -->
				</ul>
			</div>
			<div class='col-lg-9 col-md-9 col-sm-12 col-xs-12'>				
				<ul class='header-contact-info'>					
					<li>
						<a href="tel:{{ site.rawphone }}" aria-label="Phone Number {{ site.phone }}">
							<i class="fa fa-phone" aria-hidden="true"></i>
                            <span itemprop="telephone">{{ site.phone }}</span>							
						</a>
					</li>
					<li>
						<a href="mailto:{{ site.email }}" aria-label="Email Address {{ site.email }}">
							<i class="fa fa-envelope-o" aria-hidden="true"></i>
							<span itemprop="email">{{ site.email }}</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class='menu-row' data-spy="affix" data-offset-top="54">
	<nav class="navbar navbar-default">
		<div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo" href="{{ site.baseurl }}/">
                <img itemprop="image" src="{{site.baseurl}}/images/logo.png" alt="Plick Candoo Logo" class='logo-image' />
                <span itemprop="name" class='logo'>
                    <span class='logo-upper'>
                        {{site.name}}
                    </span>
                    <span class='logo-lower'>
                        Home Renovation
                    </span>
                </span>
                
            </a>
        </div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		  <ul class="nav navbar-nav navbar-right">
			<li>
				
				<a href="{{ site.baseurl }}/" class='{% if page.active == "home" %} active {% endif %}'>
					Home
				</a>
		  	</li>
			<li>
				<a href="{{ site.baseurl }}/services.html" class='{% if page.active == "services" %} active {% endif %}'>
					Services
				</a>
			</li>
		  	<li>
				<a href="{{ site.baseurl }}/work.html" class='{% if page.active == "work" %} active {% endif %}'>
					Work
				</a>
		  	</li>            
			<li>
				<a href="{{ site.baseurl }}/gallery.html" class='{% if page.active == "gallery" %} active {% endif %}'>
					Gallery
				</a>
		  	</li>
			<li>
			  	<a href='{{ site.baseurl }}/about.html' class='{% if page.active == "about" %} active {% endif %}'>
					About
				</a>
			</li>
			<li>
				<a href='{{ site.baseurl }}/contact.html' class='{% if page.active == "contact" %} active {% endif %}'>
					Contact
				</a>
			</li>
		  </ul>
		</div><!-- /.navbar-collapse -->
		</div><!-- /.container -->
	</nav>
</div>
</header>