<div class='quote-row'>
	<div class='container'>
		<div class='row'>
			<div class='col-lg-10 col-md-10 col-sm-12 col-xs-12'>
				<h3 class='animated'>
                    DO YOU HAVE A PROJECT IN MIND?				
                </h3>
			</div>
            <div class='col-lg-2 col-md-2 col-sm-12 col-xs-12'>
                <a href="{{ "/contact.html" | prepend:site.baseurl}}" class='btn btn-quote btn-lg pull-right'>
                    GET A FREE QUOTE
                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                </a>
            </div>
		</div>
	</div>
</div>